---
import BoardView from "../../components/BoardView.svelte";
import Layout from "../../layouts/Layout.astro";
import { getBoards } from "../../lib/Boards";
import { getWorkspace } from "../../lib/Workspaces";

const { id } = Astro.params;

if (!id) {
	return Astro.redirect("/workspaces");
}

const workspace = await getWorkspace(parseInt(id));

if (!workspace) {
	return Astro.redirect("/workspaces");
}

const boards = await getBoards(workspace);
---

<Layout title={workspace.name}>
	<h1>{workspace.name}</h1>
	<BoardView boards={boards} organizatonId={workspace.id} client:only></BoardView>
</Layout>